.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  width: 10%;
  pointer-events: none;
}

.cat{
  width: 100%;
}
.catImage{
  width: auto;
}
figure img{
  width: 30%;
}
.linkCat{
  width: 20%;
}
.title{
  background: antiquewhite;
  padding: 5px 20px;
}

input{
  width: 60%!important;
}
#formListArticle input{
  width: 80%!important;
}
textarea{
  /* white-space: pre-line; */
  width: 90%!important;
  height: 400px;
}
.markdown{
  max-height: 400px;
  overflow-y: auto;
  text-align: initial;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
